<section class="relative bg-background text-white">
  <svg
    class="absolute inset-0 w-full h-full opacity-25"
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:svgjs="http://svgjs.dev/svgjs"
    viewBox="0 0 800 800"
  >
    <defs>
      <radialGradient id="cccircular-grad" r="50%" cx="50%" cy="50%">
        <stop offset="0%" stop-color="#714f7c" stop-opacity="0.5"></stop>
        <stop
          offset="100%"
          stop-color="hsl(285, 22%, 58%)"
          stop-opacity="0.5"
        ></stop>
        <stop offset="100%" stop-color="#d2abdd" stop-opacity="0.5"></stop>
      </radialGradient>
    </defs>
    <g fill="url(#cccircular-grad)">
      <circle r="532" cx="400" cy="400" opacity="0.05"></circle>
      <circle r="504" cx="400" cy="400" opacity="0.1"></circle>
      <circle r="476" cx="400" cy="400" opacity="0.16"></circle>
      <circle r="448" cx="400" cy="400" opacity="0.21"></circle>
      <circle r="420" cx="400" cy="400" opacity="0.26"></circle>
      <circle r="392" cx="400" cy="400" opacity="0.31"></circle>
      <circle r="364" cx="400" cy="400" opacity="0.37"></circle>
      <circle r="336" cx="400" cy="400" opacity="0.42"></circle>
      <circle r="308" cx="400" cy="400" opacity="0.47"></circle>
      <circle r="280" cx="400" cy="400" opacity="0.53"></circle>
      <circle r="252" cx="400" cy="400" opacity="0.58"></circle>
      <circle r="224" cx="400" cy="400" opacity="0.63"></circle>
      <circle r="196" cx="400" cy="400" opacity="0.68"></circle>
      <circle r="168" cx="400" cy="400" opacity="0.74"></circle>
      <circle r="140" cx="400" cy="400" opacity="0.79"></circle>
      <circle r="112" cx="400" cy="400" opacity="0.84"></circle>
      <circle r="84" cx="400" cy="400" opacity="0.89"></circle>
      <circle r="56" cx="400" cy="400" opacity="0.95"></circle>
    </g>
  </svg>

  <div
    class="relative flex flex-col items-center justify-center min-h-screen px-4 py-32 lg:h-screen"
  >
    <div class="text-left">
      <h1 class="text-8xl mb-2 gradient-text">
        <span class="font-openSans text-3xl text-text">Hello, I Am Juneco</span>
      </h1>

      <style>
        .gradient-text {
          background: linear-gradient(to right, #ffffff, #d3b8db);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      </style>
      <h1 class="text-accent font-spaceGrotesk text-8xl mb-8">
        Graphic/Web Designer
      </h1>
      <p class="text-text font-openSans text-md max-w-90 mx-auto mb-8">
        Has a passion for learning and creating new things. Here, you'll find a
        showcase of my work and projects, as well as a glimpse into my creative
        process.
      </p>

      <div class="mt-10 flex flex-wrap text-left gap-4">
        <a
          [routerLink]="['/works']"
          class="px-8 py-2.5 relative rounded group font-medium text-[#ece7ec] inline-block w-full text-center sm:w-auto"
        >
          <span
            class="absolute top-0 left-0 w-full h-full rounded opacity-50 filter blur-sm bg-gradient-to-br from-[#83688D] to-[#6d5774]"
          ></span>
          <span
            class="h-full w-full inset-0 absolute mt-0.5 ml-0.5 bg-gradient-to-br filter group-active:opacity-0 rounded opacity-50 from-[#83688D] to-[#6d5774]"
          ></span>
          <span
            class="absolute inset-0 w-full h-full transition-all duration-200 ease-out rounded shadow-xl bg-gradient-to-br filter group-active:opacity-0 group-hover:blur-sm from-[#83688D] to-[#6d5774]"
          ></span>
          <span
            class="absolute inset-0 w-full h-full transition duration-200 ease-out rounded bg-gradient-to-br to-[#83688D] from-[#6d5774]"
          ></span>
          <span class="relative font-openSans">About me</span>
        </a>

        <a
          class="font-openSans block w-full rounded border border-primary/90 px-12 py-3 text-sm font-medium text-white hover:bg-primary/80 focus:outline-none focus:ring active:bg-primary/80 sm:w-auto"
          [routerLink]="['/works']"
        >
          Previous Works
        </a>
      </div>
    </div>
  </div>
</section>
