<div class="skills-container">
  <svg>
    <defs>
      <radialGradient id="cccircular-grad" r="50%" cx="50%" cy="50%">
        <stop offset="0%" stop-color="#714f7c" stop-opacity="0.5" />
        <stop offset="50%" stop-color="hsl(285, 22%, 58%)" stop-opacity="0.5" />
        <stop offset="100%" stop-color="#d2abdd" stop-opacity="0.5" />
      </radialGradient>
    </defs>
    <g fill="url(#cccircular-grad)">
      <circle r="532" cx="400" cy="400" opacity="0.05"></circle>
      <circle r="504" cx="400" cy="400" opacity="0.1"></circle>
      <circle r="476" cx="400" cy="400" opacity="0.16"></circle>
      <circle r="448" cx="400" cy="400" opacity="0.21"></circle>
      <circle r="420" cx="400" cy="400" opacity="0.26"></circle>
      <circle r="392" cx="400" cy="400" opacity="0.31"></circle>
      <circle r="364" cx="400" cy="400" opacity="0.37"></circle>
      <circle r="336" cx="400" cy="400" opacity="0.42"></circle>
      <circle r="308" cx="400" cy="400" opacity="0.47"></circle>
      <circle r="280" cx="400" cy="400" opacity="0.53"></circle>
      <circle r="252" cx="400" cy="400" opacity="0.58"></circle>
      <circle r="224" cx="400" cy="400" opacity="0.63"></circle>
      <circle r="196" cx="400" cy="400" opacity="0.68"></circle>
      <circle r="168" cx="400" cy="400" opacity="0.74"></circle>
      <circle r="140" cx="400" cy="400" opacity="0.79"></circle>
      <circle r="112" cx="400" cy="400" opacity="0.84"></circle>
      <circle r="84" cx="400" cy="400" opacity="0.89"></circle>
      <circle r="56" cx="400" cy="400" opacity="0.95"></circle>
    </g>
  </svg>

  <div class="content">
    <h2 class="text-primary font-spaceGrotesk text-5xl mb-8">Who I Am</h2>
    <p class="text-text font-openSans text-xl max-w-2xl mx-auto mb-8">
      I'm a passionate designer with a focus on creating compelling and
      user-friendly experiences. My journey in design has spanned over 6 years,
      and I've honed my skills in both visual design and user interface/user
      experience (UI/UX) design.
    </p>
    <p class="text-text font-openSans text-xl max-w-2xl mx-auto mb-8">
      <strong>Here's what I bring to the table:</strong>
    </p>
    <ul
      class="list-disc pl-8 text-text font-openSans text-xl max-w-2xl mx-auto mb-8"
    >
      <li>
        <strong>Visual Design & Graphic Creation:</strong>
        <ul class="list-disc pl-8">
          <li>
            <strong>Adobe Photoshop:</strong> 6+ years of experience creating
            graphics, illustrations, and visual assets. I am comfortable with
            all aspects of Photoshop, from basic image editing to advanced
            compositing and retouching. I'm always looking to push the
            boundaries of what's possible with visual design, and I'm constantly
            learning new techniques and trends.
          </li>
        </ul>
      </li>
      <li>
        <strong>User Interface & User Experience Design:</strong>
        <ul class="list-disc pl-8">
          <li>
            <strong>Figma:</strong> Proficient in designing user interfaces and
            experiences, including wireframing, prototyping, and visual design.
            I believe that great design is more than just aesthetics; it's about
            creating intuitive and engaging experiences that meet the needs of
            users. I'm passionate about user research and using data to inform
            design decisions.
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
