<section class="relative bg-background text-white">
  <svg
    class="absolute inset-0 w-full h-full opacity-25"
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:svgjs="http://svgjs.dev/svgjs"
    viewBox="0 0 800 800"
  >
    <defs>
      <radialGradient id="cccircular-grad" r="50%" cx="50%" cy="50%">
        <stop offset="0%" stop-color="#714f7c" stop-opacity="0.5"></stop>
        <stop
          offset="100%"
          stop-color="hsl(285, 22%, 58%)"
          stop-opacity="0.5"
        ></stop>
        <stop offset="100%" stop-color="#d2abdd" stop-opacity="0.5"></stop>
      </radialGradient>
    </defs>
    <g fill="url(#cccircular-grad)">
      <circle r="532" cx="400" cy="400" opacity="0.05"></circle>
      <circle r="504" cx="400" cy="400" opacity="0.1"></circle>
      <circle r="476" cx="400" cy="400" opacity="0.16"></circle>
      <circle r="448" cx="400" cy="400" opacity="0.21"></circle>
      <circle r="420" cx="400" cy="400" opacity="0.26"></circle>
      <circle r="392" cx="400" cy="400" opacity="0.31"></circle>
      <circle r="364" cx="400" cy="400" opacity="0.37"></circle>
      <circle r="336" cx="400" cy="400" opacity="0.42"></circle>
      <circle r="308" cx="400" cy="400" opacity="0.47"></circle>
      <circle r="280" cx="400" cy="400" opacity="0.53"></circle>
      <circle r="252" cx="400" cy="400" opacity="0.58"></circle>
      <circle r="224" cx="400" cy="400" opacity="0.63"></circle>
      <circle r="196" cx="400" cy="400" opacity="0.68"></circle>
      <circle r="168" cx="400" cy="400" opacity="0.74"></circle>
      <circle r="140" cx="400" cy="400" opacity="0.79"></circle>
      <circle r="112" cx="400" cy="400" opacity="0.84"></circle>
      <circle r="84" cx="400" cy="400" opacity="0.89"></circle>
      <circle r="56" cx="400" cy="400" opacity="0.95"></circle>
    </g>
  </svg>

  <div
    class="content relative flex flex-col items-center justify-center px-4 py-32 lg:h-screen"
  >
    <h2 class="text-secondary font-spaceGrotesk text-5xl mb-12 mt-12 z-10">
      UI/UX Designs
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      <div class="work-box">
        <img src="assets/artify.png" alt="Artify App" class="mb-4" />
        <h3 class="text-primary font-spaceGrotesk text-2xl mb-2">Artify</h3>
        <p class="font-openSans text-md">
          Artify is a social art app where you can share your creativity with
          the world and connect with other artists. Inspired by DeviantArt and
          Instagram, Artify offers a platform for artists to showcase their work
          and get feedback from the community.
        </p>
      </div>

      <div class="work-box">
        <img src="assets/Smartcart.png" alt="Smartcart App" class="mb-4" />
        <h3 class="text-primary font-spaceGrotesk text-2xl mb-2">Smart Cart</h3>
        <p class="font-openSans text-md">
          Smartcart is a sneaker-focused shopping app where you can browse and
          purchase the latest sneakers from top brands, as well as connect with
          other sneakerheads in the community. It is the perfect app for
          sneakerheads of all levels, whether you're a casual collector or a
          serious reseller.
        </p>
      </div>

      <div class="work-box">
        <img src="assets/panzer.png" alt="Panzer Exotics" class="mb-4" />
        <h3 class="text-primary font-spaceGrotesk text-2xl mb-2">
          Panzer Exotics
        </h3>
        <p class="font-openSans text-md">
          Showcases the finest exotic vehicles in the world, from Ferraris and
          Lamborghinis to McLarens and Bugattis. With a wide selection of new
          and pre-owned vehicles to choose from, Panzer Exotics has the perfect
          car for every discerning collector.
        </p>
      </div>

      <div class="work-box">
        <img src="assets/chikinaenae.png" alt="ChickiNaeNae" class="mb-4" />
        <h3 class="text-primary font-spaceGrotesk text-2xl mb-2">
          ChickiNaeNae
        </h3>
        <p class="font-openSans text-md">
          Showcases the finest exotic vehicles in the world, from Ferraris and
          Lamborghinis to McLarens and Bugattis. With a wide selection of new
          and pre-owned vehicles to choose from, Panzer Exotics has the perfect
          car for every discerning collector.
        </p>
      </div>
    </div>
  </div>
</section>
